@media screen and (min-width: 800px) {

    .blocks {
        flex-direction: unset;
    }
    .blocks > div {
        display: flex;
        width: 50%;
    }

    .blocks > div  {
        position: sticky;
        top: 8rem;
    }
}

