.avatar-header:hover {
    box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 10%);
    border-radius: 40px;
}

header {
    left: 0;
    right: 0;
    z-index: 9;
    transition: 4s;
}


header.menu {
    height: 8rem;
}

.hamburger {
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 700px) {

    .menu > div {
        display: flex;
        flex-direction:row;
    }

    
}

@media screen and (max-width: 700px) {

    .menu > div {
        display: grid;
    }
    .menu > div > a > button{
        justify-content: flex-start;
    }

    
}