.login {
    display : flex;
    justify-content: space-between;
}
.login > div {
    width: 50%;
}
@media screen and (max-width: 940px) {

    .login {
        flex-direction: column;
    }
    .form-block{
        display: flex;
        justify-content: center;
        width: 100%!important;
    }
    .login-img {
        display: none;
    }
}
