.frame-popup {
    position: absolute;
    z-index: 92;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.frame-popup > div {
    box-shadow: 1px 4px 13Px 3px rgb(0 0 0 / 9%);
    max-width: 244px;
    margin: auto;
    display: flex;
    justify-content: center;
}


.frame-qrcode {
    position: fixed;
    z-index: 92;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-qrcode > div {
    box-shadow: 1px 4px 13Px 3px rgb(0 0 0 / 9%);
    width: 100%;
    position: relative;
}