.progress-bar-stat {
    height: 9px;
    width: 122px;
    display: flex;
    justify-content: flex-end;
}
.progress-bar-stat > div { 
    height: 100%;
    animation: progressBar 800ms ease-in-out;
}


@keyframes progressBar {
    from {
        width : 0%;
    }
}

.stats-blocks {
    display: flex;
}

@media screen and (max-width: 740px) {

    .stats-blocks {
        display: grid;
    }
    
}

@media screen and (min-width: 740px) {

    .stats-blocks > div {
        position: sticky;
        top: 2rem;
        z-index: 9;
    }
}