#social-bar {
    display: grid;
}

@media screen and (min-width: 700px) {
    #social-bar {
        display: flex;
    }
    .f-s-2rem {
        font-size: 2.5rem;
    }
}



#Home {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    #Home {
        display: grid;
        display: flex;
        flex-direction: column-reverse;
    }
}


#works {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    #works {
        display: grid;
    }
}

.block {
    height: 500px;
}

@media screen and (max-width: 700px) {
    .block  {
        height: unset;
    }
}


button:hover {
    margin-top: -0.4rem;
}



#profil_img {
    height: 500px;
}

@media screen and (max-width: 700px) {
    #profil_img   {
        height: 300px;
    }
}





@media screen and (min-width: 700px) {

    .blocks {
        flex-direction: unset;
    }
    .blocks > div {
       width: 50%;
    }
}
