
.pricing-blocks {
    display: flex;
}

.card-pricing {
    width:  322px;
    height: 244px;
    padding: 1rem;
}

.question {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width: 980px) {

    .pricing-blocks {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 780px) {

    .pricing-blocks {
        justify-content: center;
    }
    .card-pricing {
        width:  322px;
        height: 100%;
    }
    .question {
        grid-template-columns: unset;
    }
}

@media screen and (max-width: 480px) {

    .pricing-blocks {
        flex-wrap: grid;
    }
    .pricing-blocks > div {
        width:  100%;

    }   
    
    .card-pricing {
        width:  unset;
    }
}


.btn__select-billing:hover {
    background-color: var(--blue-secondary);
}

.article__plan {
    border : 1px solid var(--grey-2);
}